/* Nicer HTML colors
 * Source: http://clrs.cc/
 */

// Cool
@aqua:  #7FDBFF;
@blue:  #0074D9;
@navy:  #001F3F;
@teal:  #39CCCC;
@green: #2ECC40;
@olive: #3D9970;
@lime:  #01FF70;

// Warm
@yellow:  #FFDC00;
@orange:  #FF851B;
@red:     #FF4136;
@fuchsia: #F012BE;
@purple:  #B10DC9;
@maroon:  #85144B;

// Gray Scale
@white:  #fff;
@silver: #ddd;
@gray:   #aaa;
@black:  #111;
@lightblack: #444;

// Marks
@mark-0  : hsv( round( 120 * 0    ), 100%, 90% );
@mark-1  : hsv( round( 120 * 0.18 ), 100%, 90% );
@mark-2  : hsv( round( 120 * 0.25 ), 100%, 90% );
@mark-3  : hsv( round( 120 * 0.35 ), 100%, 90% );
@mark-4  : hsv( round( 120 * 0.42 ), 100%, 90% );
@mark-5  : hsv( round( 120 * 0.5  ), 100%, 90% );
@mark-6  : hsv( round( 120 * 0.55 ), 100%, 90% );
@mark-7  : hsv( round( 120 * 0.6  ), 100%, 90% );
@mark-8  : hsv( round( 120 * 0.7  ), 100%, 90% );
@mark-9  : hsv( round( 120 * 0.8  ), 100%, 90% );
@mark-10 : hsv( round( 120 * 1    ), 100%, 90% );

@mark-gold 		: #DFAB34;
@mark-silver 	: #CBCBCB;
@mark-bronze	: #A56C2C;
@mark-merit 	: @blue;
@mark-none 	  : @white;
