// Variables
@import 'colors.less';

// Media Queries Breackpoints
@import 'media-queries.less';

// Functions
.transition (@propriety: all, @speed: 0.25s, @type: ease, @delay: 0s){
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-ms-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

// Reset stylesheet
@import 'reset.less';

// Basic layout
//@import 'google-font.less';
@import 'layout.less';

// Pages
@import 'signin.less';
@import 'forms.less';
@import 'planner.less';
@import 'user.less';
