.form {
	header {
		background-color: @black;
		overflow: auto;
		padding-top: 2em;
		padding-bottom: .75em;
		margin-bottom: 3em;

		span {
			position: absolute;
			font-size: .75em;
			font-weight: 700;
			top: -1em;
			right: .5em;
			color: @white;
		}
	}

	.logo {
		display: block;
		float: left;
	}

	h1 {
		color: @white;
		font-size: 2em;
		margin-top: .75em;
		padding: 0;
		float: right;
	}

	h3 {
		color: @gray;
		text-transform: uppercase;
		margin: 1em 0 0;
		font-size: 1em;
		border-bottom: 1px solid;
		padding-bottom: 0;
	}

	label,
	input,
	textarea,
	pre {
		font-size: .9em;
		word-break: break-word;
	}

	label {
		display: block;
		float: left;
		width: 38%;
		line-height: 1.5em;
	}

	input[type="text"],
	textarea {
		display: block;
		width: 100%;
		border: 1px solid @black;
	}

	input {
		padding: .5em .75em;
	}

	textarea {
		white-space: pre-wrap;
		word-wrap: break-word;
		padding: 1em;
		font-size: .9em;
	}

	/* put on the side the list of checkbox */
	.checkbox {
		span {
			width: 31%;
			display: inline-block;
			margin: .5em 0 .5em 0;

			input {
				margin-right: .25em;
				bottom: 1px;
			}
		}

	.other {
			display: block;
			width: 100%;

			input[type="text"]{
				display: inline-block;
				margin-left: .25em;
				width: 20em;
			}
		}
	}

	section[role="project"],
	section[role="deadline"]{
		overflow: auto;

		div {
			display: block;
			float: left;
			margin-right: 5%;
			width: 47%;

			&:last-of-type {
				margin-right: 0;
			}
		}

		label {
			margin: 1em 0 .25em;
			text-transform: uppercase;
			font-size: .8em;
		}

		textarea[name="project_deliverables"] {
			height: 7.1em;
		}

		textarea[name="project_mandatories"] {
			height: 11.9em;
		}

		pre {
			/* Hide the text; just using it for sizing */
			visibility: hidden;
			overflow: hidden;
			height: 0;
		}
	}

	.storytelling,
	.creative {
		section[role="project"] div {	width: 30%;	}
	}

	fieldset {
		margin: 1.5em 0;
		display: block;

		&:first-of-type {
			margin-top: 3em;
		}

		textarea,
		pre {
			max-width: 60%;
			min-height: 9em;
			padding: 1em;
		}

		textarea,
		pre,
		.checkbox {
			float: right;
			width: 60%;
		}

	}

	.active {

		textarea {
			/* Hide any scrollbars */
			overflow: hidden;
			height: 100%;
			position: absolute;
			float: none;
			top: 0;
			right: 0;
			/* Remove WebKit user-resize widget */
			resize: none;
		}
	}

	.form-buttom {
		.button;
		margin: 5em auto 2em;
	}
} // End of .form

.no-form {
	text-align: center;
	margin-bottom: 6em;
}
