html,
body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	overflow: auto;
}

html {
	background-color: @white;
	font-size: 16px;
	color: #000;
}

body {
	background-color: @white;
}

html,
input,
textarea,
button,
pre {
	font-family: Verdana, Tahoma, sans-serif;
}

.content {
	margin: 0 auto;
	padding: 0 .25em;
	max-width: 60em;
}

section {
	margin: 0 0 4em;

	&:last-of-type {
		margin-bottom: 0;
	}
}

h1,
h2,
h3,
h4,
h5 {
	text-transform: none;
	line-height: 1.25em;
	padding: 0.5em 0;
	font-size: 1.25em;
}

h1 {
	text-transform: uppercase;
	font-size: 1.25em;
}

h2 {
	text-transform: uppercase;
	border-bottom: 1px solid;
	padding-bottom: 0;
	margin-bottom: 1em;
}

p {
	line-height: 1.5em;
	padding: 1em 0;
	font-weight: 300;
}

ul,
ol {
	list-style-position: inside;
	padding: 1em 0;
	font-weight: 300;

	li {
		margin: 0 0 .25em 0;
	}
}

.error {
	color: @red;
}

.top-button {
	display: inline-block;
	float: right;
	margin: 2em 0 0 1em;
	padding: .5em 1em;
	border-radius: 4px;
	color: @white;
	background-color: @gray;
	font-weight: 700;
	font-size: .9em;

	&:hover,
	&:focus {
		background-color: @black;
	}
}

nav[role="footer"] {
	margin: 4em 0 0;

	a {
		display: block;
		margin: .25em 0;

		&:before {
			content: "➡ ";
		}
	}
}

.button {
	display: block;
	margin-top: 2em;
	padding: .75em 10em;
	text-transform: uppercase;
	text-align: center;
	color: @white;
	background-color: @black;
	border: 2px solid @black;

	&:hover,
	&:focus {
		border-color: @gray;
		background-color: @gray;
	}
}

.footer {
	display: block;
	text-align: center;
	font-size: .8em;
	color: @gray;
	margin: 2em auto;
}

.label {
	font-size: .8rem;
	font-style: italic;
	color: @gray;
}

.labelRow,
.labelColumn {
	position: absolute;
	display: block;
}

.labelRow {
	transform: rotate(90deg);
	transform-origin: left top 0;
	top: 17rem;
  left: -1rem;
}

.labelColumn {
  top: -4rem;
  text-align: center;
  width: 100%;
}
