// Media Queries Breakpoints
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px)";//" and (max-width: 1128px)";
//@desktop-xl:  ~"only screen and (min-width: 1129px)";

// Media Queries testing
// This adds a label in the top-left corner that displays the current media query state.
header::before {
	display: none;
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 99;
	padding: 0.25em 1em;
	text-align: center;
	color: white;
	background: #2D3090;
	font-weight: 700;
	content: "undefined";

	@media @mobile {
		//background: orange;
		content: "mobile";
	}

	@media @tablet {
		//background: purple;
		content: "tablet";
	}

	@media @desktop {
		//background: green;
		content: "desktop";
	}

	/*
	@media @desktop-xl {
		background: blue;
		content: "desktop-xl";
	}
	*/
}
