.planner,
.strategic,
.digital-journey {

	table {
		margin: 3rem 0; // Enough for the Quarter selectors
		z-index: 3;
		width: 100%;
	}

	tr {
		border: 1px solid @gray;
		height: 6rem;
	}

	thead,
	tfoot {
		background-color: @black;
		color: @white;
		text-transform: uppercase;
		font-weight: 600;
		font-size: .75rem;

		tr {
			height: auto;
		}

		td {
			padding: .5rem;
		}
	}

	td {
		border-left: 1px solid @gray;
		vertical-align: top;
		padding: 1rem;
		width: 25%;

		&:first-of-type { border: none; }
	}

	textarea {
		border: 1px solid;
	}

	pre {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.empty {
		visibility: hidden;

	}

	.data-goal::after {
		content: attr(data-goal);
		display: block;
		width: 1.5rem;
		//height: 2rem;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -1.75rem;
		padding-left: .25rem;
		font-size: .75rem;
		line-height: 1.5rem;
		font-weight: 700;
		text-align: center;
		background-color: @black;
		color: @white;
	}

	// Display the first Quarter and hide the others
	table [class^='goal'] {
		display: none;

		&.visible {
			display: table-cell;
		}
	}

	.selectors {
		position: absolute;
		z-index: 2;

		a {
			display: inline-block;
			background-color: @silver;
			color: @lightblack;
			text-transform: uppercase;
			font-weight: 600;
			font-size: .75rem;
			cursor: pointer;

			&.visible,
			&:hover,
			&:active {
				background-color: @black;
				color: @white;
			}
		}

		&:first-of-type {
			top: -1.75rem;

			a {
				border-top-left-radius: 1rem;
				border-top-right-radius: 1rem;
			}
		}

		&:last-of-type {
			bottom: -1.75rem;

			a {
				border-bottom-left-radius: 1rem;
				border-bottom-right-radius: 1rem;
			}
		}
	}
}

.planner {

	.selectors {
		width: 50%;
		left: 50%;

		a {
			padding: .5rem;
			margin-right: 1%;
			width: 24%;
		}
	}
}

.strategic {

	.montly td {
		&:nth-of-type(-n+3) {	width: 20%;	}
		&:nth-of-type(n+4) { width: 40%; }
	}

	.selectors {
		width: 40%;
		left: 60%;

		a {
			text-align: center;
			padding-top: .5rem;
			padding-bottom: .5rem;
			margin-right: 1%;
			width: 7.35%;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

.digital-journey {

	table {
		margin-top: 7rem;
	}

	thead,
	tfoot {
		td {
			color: @black;
			background-color: @silver;
			text-align: center;
			vertical-align: middle;
		}

		td:first-of-type {
			background-color: @white;
			visibility: hidden;
		}

		.journey-group-info:before {
			content: attr(data-info);
			position: absolute;
			z-index: -1;
			top: -2.05rem;
			left: 0;
			width: 200%;
			color: @black;
			background-color: @gray;
			border-color: @black;
			border-width: 0 0 1px 0;
			border-style: solid;
			padding: .5rem 0;
		}

		.journey-group-info:nth-of-type(2):before {
			//right: -1px;
		}
	}

	td {
		width: 15.5%;
	}

	td:first-of-type {
		width: 6%;
		font-size: .75rem;
	}

	tbody {

		tr {
			height: 8rem;
		}

		td:first-of-type {
			text-transform: uppercase;
			background-color: @black;
			color: @white;
			padding: .5rem;
			text-align: left;

			span {
				display: block;
				background-color: @black;
				position: absolute;
				left: 2.6rem;
				width: 6rem;
				top: 1rem;
				transform: rotate(90deg);
				transform-origin: left top 0;
			}

		}
	}
}

