// Variables
@import 'colors.less';

// Reset stylesheet
@import 'reset.less';
@import 'planner.less';
//@import 'forms.less';

// Media Print

	// Layout
	html,
	input,
	textarea,
	button,
	pre {
		font-family: Helvetica, Verdana, sans-serif;
		font-weight: 300;
	}

	html,
	body {
		font-size: 12px;
		height: auto;
	}

	.radio {

		span {

			width: 31%;
			display: inline-block;
			margin: .5em 0 .5em 0;
		}
	}

	.checkbox {
		span {
			width: 31%;
			display: inline-block;
			margin: .5em 0 .5em 0;

			input {
				margin-right: .25em;
				bottom: 1px;
			}
		}

	.other {
		display: block;
		width: 100%;

		input[type="text"]{
			display: inline-block;
			margin-left: .25em;
			width: 20em;
		}
	}
}

	.planner {

		td{

			border-right: 1px solid;
		}
	}

	textarea,
	.form-buttom,
	.footer {
		display: none;
	}

	h1, h2, h3, h4, h5,
	header, fieldset, label {
		page-break-inside: avoid;
		page-break-after: avoid;
	}

	.content {
		margin: 0;
		padding: 0;
	}

	header {
		text-align: right;
		background: url('/view/images/logo.jpg') no-repeat transparent 0 0;
		border-bottom: 2px solid;

		a {
			display: none;
		}

		span:after {
			display: block;
			content: "metrickforms.com/" attr(form);
		}
	}

	section {
		margin-top: 4rem;
		padding: 0 1.5rem;
	}

	h1,
	h2 {
		line-height: 1.25em;
		text-transform: uppercase;
	}

	h1 {
		font-size: 2rem;
		padding: .5rem 0;
	}

	h2 {
		border-bottom: 1px solid @lightblack;
		font-size: 1.25rem;
		margin-bottom: 1em;
	}

	p {
		line-height: 1.5em;
		padding: 1em 0;
		font-weight: 300;
	}

	fieldset {
		margin: 1em 0;

		&:first-of-type {
			margin-top: 1em;
		}
	}

	table {

	}

	label,
	pre,
	section > div,
	input[type="text"] {
		color: @black;
	}

	label {
		font-weight: 500;
	}

	pre {
		margin: 1rem;
	}

	[role=project] {
		div,
		label,
		input {
			display: inline-block;
			margin-bottom: 2px;
		}

		div { width: 48% }
		label { width: 25% }
		input { width: 70% }
	}

.nextchapter-step1,
.nextchapter-step2,
.nextchapter-step3 {
	label {
		display: inline-block;
		width: 30%;
	}
}

.radio { display: inline-block }
.radio span {	width: auto }
