.signin {
	min-height: 90%;

	.footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.form-signin {

	@media @desktop {
		width: 24em;
		height: 18em;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -12em;
		margin-top: -9em;

		.logo {
			position: absolute;
			margin: 0 auto;
			top: -80px;
			left: 7em;
		}
	}

	label {
		display: block;
		margin-bottom: 1em;

	}

	input {
		display: block;
		width: 100%;
		margin-top: .25em;
		padding: 1em 1.25em;
		border: 1px solid @silver;
		font-size: 1em;
	}

	button {
		width: 100%;
		.button;
	}

}
