.user {
	input[type="text"],
	input[type="email"],
	select,
	textarea {
		margin: .5em 0 1.5em;
		padding: .75em 1em;
		border: 1px solid @black;
		border-radius: 0;
	}

	input[type="text"],
	input[type="email"],
	textarea {
		display: block;
		width: 100%;
	}

	select {
		margin-right: 2em;
		-webkit-appearance: none;
	}
}

.forms {
	width: 100%;
	margin-bottom: 20em;

	thead td {
		border-bottom: 1px solid;
		font-weight: 700;
		font-size: .75em;
		color: @gray;
	}

	tr {
		border-bottom: 1px solid @silver;
	}

	td {
		padding: .5em 0;
		font-size: .9em;
	}
}

.form-list:hover {
	background-color: lighten(@blue, 50%);
}

.form-date {
	width: 8em;
	color: @lightblack;
}

.form-docket {
	a:before { content: '['; }
	a:after { content: ']'; }
	width: 6em;
	color: @lightblack;
}

.form-client {
	text-align: left;
	width: 8em;
}

.form-name {
	text-align: left;
	font-weight: 700;
}

.form-link {
	color: @blue;
	width: 4em;
}

.form-delete {
	color: @red;
	width: 4em;
}

.form-type {
	width: 10em;
	color: @lightblack;
}

.form-brand {
	width: 4em;
	color: @lightblack;
}

.submit-button {
	display: block;
	margin: 2em 0;
	padding: .5em 2em;
	text-align: center;
	color: @white;
	background-color: @black;
	border: 2px solid @black;
	border-radius: 4px;

	&:hover,
	&:focus {
		border-color: @gray;
		background-color: @gray;
	}
}
